<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <title>Shauku Games</title>

</head>

<body>

    <div class="largeContainer">
        <div class="top">
            <p id="top-p">SHAUKU GAMES</p>
            <ul class="topnav-ul">
            </ul>
        </div>

        <a class="game-link" href="#">
            <div class="bottom">
                <a href="http://localhost:3000/kenyanrunner">
                    <div class="gameCard">
                        <div class="gameCard-top">
                            <img id="gameCard-img" src="assets/kenyanrunner.jpg">
                        </div>

                        <div class="gameCard-bottom">
                            <p class="p1" style="color: wheat;">KENYAN RUNNER</p>
                            <p class="p2">
                                Genre : Platform, Action, Endless runner
                            </p>
                        </div>

                    </div>

                </a>

            </div>
        </a>
    </div>

    <div class="bottomContainer">
        <p>Game dev :</p>
        <img src="https://img.icons8.com/material-outlined/30/000000/whatsapp--v1.png" />
        <a class="WAlink" href="https://wa.me/254719853291">
            <div>Whatsapp : Nathan Wanjau</div>
        </a>
        <div style="text-decoration: none;">Tel : 0719853291</div>

    </div>

    <div class="bottomContainer">
        <p>Web dev :</p>
        <img src="https://img.icons8.com/material-outlined/30/000000/whatsapp--v1.png" />
        <a class="WAlink" href="https://wa.me/254724581080">
            <div>Whatsapp : Ian Macharia</div>
        </a>
        <div style="text-decoration: none;">Tel : 0724581080</div>

    </div>

</body>

</html>