<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/kenyanrunner.css" rel="stylesheet" type="text/css">

    <script>
        const slider = document.querySelector('.screenshots')
        const screenshots = document.querySelectorAll('.screenshot')
        const scrollLeft = document.querySelector('.left')
        const scrollRight = document.querySelector('.right')
        let counter = 1
    </script>

    <title>Shauku Games</title>


</head>

<body>
    <a href="http://localhost:3000">
        <svg class="back" width="32px" height="32px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" color="#000000"><path fill-rule="evenodd" d="M9.78 12.78a.75.75 0 01-1.06 0L4.47 8.53a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 1.06L6.06 8l3.72 3.72a.75.75 0 010 1.06z"></path></svg>
    </a>

    <div class="largeContainer">

        <section class="intro">
            <h2>KENYAN RUNNER</h2>
            <div id="intro">
                A fun, interactive, shooter platform game. While some features are still in development, the game is playable and can be downloaded from the link below.
                <br> Quality selector available for lower end PCs.

            </div>

        </section>

        <a id='back' href="https://mega.nz/file/1cMgQDbR#36uxBTgkJTKudWbdtH4jRNFwo08Cc5H1N8QCfCJNWr4">
            <button class="download">DOWNLOAD</button>
        </a>

        <ul class="screenshots">
            <svg class="scroll left" width="32px" height="32px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" color="#000000"><path fill-rule="evenodd" d="M7.78 12.53a.75.75 0 01-1.06 0L2.47 8.28a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 1.06L4.81 7h7.44a.75.75 0 010 1.5H4.81l2.97 2.97a.75.75 0 010 1.06z"></path></svg>

            <svg class="scroll right" width="32px" height="32px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" color="#000000"><path fill-rule="evenodd" d="M8.22 2.97a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06l2.97-2.97H3.75a.75.75 0 010-1.5h7.44L8.22 4.03a.75.75 0 010-1.06z"></path></svg>

            <li class="screenshot last-copy">
                <img src="assets/cover.png" alt="img3">
            </li>
            <li class="screenshot">
                <img src="assets/kenyanrunner.jpg" alt="img1">
            </li>
            <li class="screenshot">
                <img src="assets/runnermoving.png" alt="img2">
            </li>
            <li class="screenshot">
                <img src="assets/cover.png" alt="img3">
            </li>
            <li class="screenshot first-copy">
                <img src="assets/kenyanrunner.jpg" alt="img1">
            </li>

        </ul>

        </section>
    </div>

</body>

</html>